@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Source Code Pro', monospace;
	background-color: #111018;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.header {
	text-align: left;
	position: fixed;
	width: 100%;
	z-index: 3;
	height: 44px;
	background-color: #111018;
}

.header img {
	margin-left:10px;
	margin-right:10px;
	border-bottom: 4px solid #1A1B20;
}

.header img:hover {
	background-color:#111018;
        border-bottom: 4px solid #32C344;
}

#active {
	background-color:#42485B;
        border-bottom: 4px solid #32C344;
}

/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
	height: 44px;
	font-weight: 700;
}
.side-nav .logo {
	color: #fff;
}
.header .logo {
	float: left;
}
.header .logo {
	height: 44px;
	z-index: 1;
	font-weight: 700;
}
.logo  i {
	font-size: 22px;
}
.logo span {
	margin-left: 2px;
	text-transform: uppercase;
}
.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 30px;
	display: block;	
}
.nav-trigger span, .nav-trigger span:before, span:after {
	width: 20px;
	height: 2px;
	background-color: #1A1B20;
	position: absolute;
}
.nav-trigger span {
	top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
	content: '';
}
.nav-trigger span:before {
	top: -6px;
}
.nav-trigger span:after {
	top: 6px;
}
/* side navigation styles */
.side-nav {
	font-family: 'Roboto Condensed', sans-serif;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #1A1B20;
	z-index: 1;
	display: none;
}
.side-nav.visible {
	display: block;
}
.side-nav ul {
	margin: 0;
	padding: 0;
}
.side-nav ul li {
	padding: 16px 16px;
	position: relative;
}
.side-nav ul li.active:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
}
.side-nav ul li:hover {
    	background-color: #030303;
	}
.side-nav ul li i {
	color: #0497df;
	min-width: 20px;
	text-align: center;
}
.side-nav ul li span:nth-child(2) {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 600;
}

.tablink {	
	color: #fff;
        display: block;
        text-decoration: none;
        outline:none;
}

.active {
	color : #0497df;
}

/* main content styles */
.main-content {
	padding-top: 0;
	margin-top: 0;
	height: 100%;
}

.main-content .title {
	background-color: #1A1B20;
	padding: 10px 20px;
	font-weight: 700;
	color: #FFF;
	font-size: 26px;
}
/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
	.header {
		background-color: #1A1B20;
		z-index: 1;
	}
	.header .logo {
		display: none;
	}
	.nav-trigger {
		display: none;
	}
	.nav-trigger span, .nav-trigger span:before, span:after {
		background-color: #111018;
	}
	.side-nav {
		display: block;
		width: 70px;
		z-index: 2;
	}
	.side-nav ul li span:nth-child(2) {
		display: none;
	}
	.side-nav .logo i {
		padding-left: 12px;
	}
	.side-nav .logo span {
		display: none;
	}
	.side-nav ul li i {
		font-size: 26px;
	}
	.side-nav ul li a {
		text-align: center;
	}
	.main-content {
		margin-left: 70px;
	}
}
/* set element styles for desktop */
@media screen and (min-width: 800px) {
	.side-nav {
		width: 200px;
	}
	.side-nav ul li span:nth-child(2) {
		display: inline-block;
	}
	.side-nav ul li i {
		font-size: 16px;
	}
	.side-nav ul li a {
		text-align: left;
	}
	.side-nav .logo i {
		padding-left: 0;
	}
	.side-nav .logo span {
		display: inline-block;
	}
	.main-content {
		margin-left: 200px;
	}
}

/* main box container */
.main {
	padding-top: 44px;
	display: flex;
	flex-flow: row wrap;
}
.widget {
	flex-basis: 340px;
	flex-grow: 30;
	height: 400px;
	margin: 15px;
	border-radius: 6px;
	background-color: #1A1B20;
	position: relative;
}
.widget .content {
	padding: 5px;
	width: 300;
	height: 280px;
	color: #BBB;
}
.widget .title {
	background-color: #1A1B20;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #BBB;
	font-weight: 600;
}

.fullwidthwidget {
	flex-basis: 100%;
	flex-grow: 10;
	height: 400px;
	width: 100%;
	margin: 15px;
	border-radius: 6px;
	background-color: #1A1B20;
	position: relative;
}
.fullwidthwidget .content {
	padding: 5px;
	height: 280px;
	width: 300;
}
.fullwidthwidget .title {
	background-color: #1A1B20;
	padding: 10px;
	border-bottom: 1px solid #dfe4ec;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #BBB;
	font-weight: 600;
}

.statstext {
	text-align: center;
	color: #BBB;
	font-weight: 600;
	font-size: 44px;
	line-height: 100px;
}
.statstext2 {
	text-align: center;
	color: #BBB;
	font-weight: 600;
	font-size: 24px;
	line-height: 65px;
}
.stat {
	text-align: center;
	color: #BBB;
	font-weight: 600;
	font-size: 300px;
	line-height: 160px;
}

.dropdowncontainer {
    text-align:left;
}

.gdropdown {
    text-align: center;
    margin: 15px;
    margin-bottom: 0px;
    width:150px;
    position: relative;
    display: inline-block;
    float:left;
}

.tdropdown {
    text-align: center;
    margin-left: 15%;
    width:150px;
    margin: 15px;
    margin-bottom: 0px;
    position: relative;
    display:inline-block;
}

.tdropdown a {
    text-decoration: none;
    color: #BBB;
    outline: none;
}

.pdropdown {
    text-align: center;
    margin-left: 15%;
    width:150px;
    margin: 15px;
    margin-bottom: 0px;
    position: relative;
    display:inline-block;
}

.pdropdown a {
    text-decoration: none;
    color: #BBB;
    outline: none;
}


.gdropdown a {
    text-decoration: none;
    color: #BBB;
    outline: none;
}

.gdropdown-content {
    display: none;
    position: absolute;
    color: #BBB;
    background-color: #2B2C31;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.gdropdown-content a:hover {
    font-weight:bold;
}

.gdropdown-content a {
    color: #BBB;
    text-decoration: none;
    outline: none;
}

.gdropdown-button {
    border-radius: 6px;
    padding: 10px;
    background-color: #2B2C31;
    foreground-color: #BBB;
}

.gdropdown-button:hover {
    border-radius: 6px 6px 0px 0px;
}

.gdropdown:hover .gdropdown-content {
    display: block;
}

.pdropdown:hover .gdropdown-content {
    display: block;
}

.tdropdown:hover .gdropdown-content {
    display: block;
}

.statlist {
	color: #BBB;
	font-size: 30px;
	cursor: pointer;
}

.statlist:hover {
	font-weight: bold;
}

.statcontainer {
	text-align:center;	
}
